@import "./variable.scss";

@mixin theme-light {
  background-color: $color-bg-light-secondar;
  color: $color-text-light;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

@mixin theme-dark {
  background-color: $color-bg-dark-secondar;
  color: $color-text-dark;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.09);
}

@mixin link-light {
  color: $color-text-light;
}

@mixin link-dark {
  color: $color-blue-dark;
}

.header {
  @include theme-light;

  .dark & {
    @include theme-dark;
  }
}

.header a,
.header .user,
.burger {
  @include link-light;

  .dark & {
    @include link-dark;
  }
}
