@import "./variable.scss";

@mixin theme-light {
  background-color: $color-bg-light-secondar;
  color: $color-text-light;
}

@mixin theme-dark {
  background-color: $color-bg-dark-secondar;
  color: $color-text-dark;
}

@mixin link-active-light {
  background-color: $color-blue-light !important;
  color: $color-white-1 !important;
}

@mixin link-active-dark {
  background-color: $color-bg-dark-primar !important;
  color: $color-blue-dark !important;
}

@mixin logo-light {
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.09);
}

@mixin logo-dark {
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.09);
}

@mixin link-light-hover {
  background-color: $color-white-2;
}

@mixin link-dark-hover {
  background-color: $color-bg-dark-primar;
  color: $color-blue-dark;
}

.sideBar {
  @include theme-light;

  .dark & {
    @include theme-dark;
  }
}

.active {
  @include link-active-light;

  .dark & {
    @include link-active-dark;
  }
}

.logo {
  @include logo-light;

  .dark & {
    @include logo-dark;
  }
}

.sideBar a:hover,
.sideBar link:hover {
  @include link-light-hover;

  .dark & {
    @include link-dark-hover;
  }
}
