$color-bg-light-primar: #eef1f9;
$color-bg-light-secondar: #ffffff;
$color-text-light: #858aa4;
$color-bg-dark-primar: #1c1f26;
$color-bg-dark-secondar: #252932;
$color-text-dark: #858aa4;
$color-white-1: #f4f6f8;
$color-blue-dark: #5b73e8;
$color-blue-light: #6690f4;
$color-blue-grey: #272b35;
$color-grey-blue: #2f3541;
$color-grey-dark: #383c40;
$color-grey-light: #ccc;
$color-white-2: #f8f9fa;
